<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8c9f7e">  <td>22/05/25 10:14:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.BorrowersSalesExecutivePage()[pri:2, instance:com.lendenclub.execution.TestExecution@614ca7df]">BorrowersSalesExecutivePage</td> 
  <td>main@1293241549</td>   <td></td> </tr>
<tr bgcolor="8c9f7e">  <td>22/05/25 10:14:52</td>   <td>-1812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.CT_InterestRatePage()[pri:1, instance:com.lendenclub.execution.TestExecution@614ca7df]">CT_InterestRatePage</td> 
  <td>main@1293241549</td>   <td></td> </tr>
<tr bgcolor="8c9f7e">  <td>22/05/25 10:14:56</td>   <td>2110</td> <td>&nbsp;</td><td title="&lt;&lt;TestExecution.CloseBrowser()[pri:0, instance:com.lendenclub.execution.TestExecution@614ca7df]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1293241549</td>   <td></td> </tr>
<tr bgcolor="8c9f7e">  <td>22/05/25 10:14:39</td>   <td>-13930</td> <td>&nbsp;</td><td title="&gt;&gt;TestExecution.openingBrowser()[pri:0, instance:com.lendenclub.execution.TestExecution@614ca7df]">&gt;&gt;openingBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1293241549</td>   <td></td> </tr>
</table>
